@import '~bigCalendarStyle';
.calendar-container{
  display: flex;
  height: 600px;
}

.rbc-calendar{
  width: 90%;
  margin-bottom:5%;
  background:#fff;
  .rbc-toolbar{
    display: flex;
    flex-direction: column-reverse;
    margin-top:1rem;
    .rbc-toolbar-label{
      margin-bottom:1rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .rbc-row-content{
    .rbc-row {
      .rbc-row-segment{
        .rbc-event{
          background:#617a77;
        }
        .rbc-selected{
          background:#008072
        }
      }
      .rbc-date-cell{
        a{
          font-size: 0.5rem;
        }
        &.rbc-current{
          a{
            font-size: 1rem;
          }
        }
      }
    }
  }
  .rbc-row-bg{
    .rbc-today{
      position: relative;
      background:transparent;
      &:before{
        content:'';
        display: block;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        width: 100%;
        height: 100%;
        margin:auto;
        border-left:3px solid rgb(174, 222, 175);
        border-right:3px solid rgb(174, 222, 175);
        border-top:3px solid rgb(174, 222, 175);
        border-bottom:3px solid rgb(174, 222, 175);
      }
    }
  }
  .rbc-month-view{
    .rbc-month-header{
      .rbc-header{
        span{
          color: #DDD;
          font-size: 0.5rem;

        }
      }
    }  
  }
}

// .react-calendar__tile--active{
//   background:#008;
//   color:#fff;
// }

// .test{
//   color:#fa0;
// }