.user-section{
  .component-group-container{
    display: flex;
    justify-content: space-around;
  }
  .user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:rgb(109, 109, 109);
    p{
      line-height: 30px;
      color:#fff;
    }
  }  
  .user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logout-btn{
    background:transparent;
    border:none;
    text-decoration: underline;
  }
}